@model Carlos.Models.Cliente

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhe do Cadastro</h1>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2 mb-3">
            @Html.DisplayName("Nome Completo")
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2 mb-3">
            @Html.DisplayName("Data de Nascimento")
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.Data_nasc)
        </dd>
        <dt class="col-sm-2 mb-3">
            @Html.DisplayName("Endereço")
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.Endereco)
        </dd>
        <dt class="col-sm-2 mb-3">
            @Html.DisplayName("Celular")
        </dt>
        <dd class="col-sm-10 mb-3">
            @Html.DisplayFor(model => model.Celular)
        </dd>
    </dl>
</div>
<div class="">
    <a class="btn btn-info text-white mb-2" asp-action="Edit" asp-route-id="@Model.Id_cliente">Editar</a><br>
    <a asp-action="Index"><i class="fas fa-arrow-left">&nbsp;</i>Voltar à lista</a>
</div>
